.header {
  height: 64px;
  background-color: gray;
  color: white;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
}


.section {
  display: flex;
  height: calc(100vh - 64px);
}

.aside {
  width: 96px;
  height: 100%;
  background-color: gainsboro;
  color: white;
  font-size: 24px;
  text-align: center;
}

.scroll-container {
  /* 一定要将滚动容器设置 position */
  position: relative;
  flex: 1;
  height: 100%;
  background-color: gold;
  overflow: auto;
}
